$colorBundle__text: #333333;
$colorBundle__headings: #333333;
$colorBundle__smallText: #969696;
$colorBundle__lightText: #FFFFFF;
$colorBundle__darkText: #333333;
$colorBundle__utilityTextColor: #FFFFFF;
$colorBundle__formattedTextIndicator: #AF001D;
$colorBundle__link: #AF001D;
$colorBundle__interactionDarkColor: #AF001D;
$colorBundle__interactionDarkHover: #E31F2B;
$colorBundle__interactionLightColor: #F8F8F8;
$colorBundle__interactionLightHover: #FFFFFF;
$colorBundle__divider: #D2D2D2;
$gradient__border: #AF001D,#E31F2B;
$colorBundle__shadow: rgba(0,0,0,0.1);
$colorBundle__shadowDarker: rgba(0,0,0,0.2);
$colorBundle__uiIcon: #969696;
$colorBundle__uiIconActive: #AF001D;
$gradient__navigationOverlay: rgba(37,37,37,0.6),rgba(37,37,37,0);
$colorBundle__navigationItem: #D2D2D2;
$colorBundle__navigationItemActive: #D2D2D2;
$colorBundle__pagerItemActiveBackground: #333333;
$colorBundle__tagLabel: #AF001D;
$colorBundle__tagBorder: #AF001D;
$colorBundle__tagBackground: #F8F8F8;
$colorBundle__pageBackground: #FFFFFF;
$colorBundle__footerBackground: #252525;
$colorBundle__panelBackground: #F8F8F8;
$colorBundle__inputBackground: #EEEEEE;
$colorBundle__tooltipBackground: #969696;
$colorBundle__versionBackground: #1E8CE3;
$colorBundle__sectionBackground: #EEEEEE;
$colorBundle__tableBackground: rgba(238,238,238,0.5);
$colorBundle__backdropBackground: rgba(0,0,0,0.75);
$colorBundle__lightCodeBackground: #EEEEEE;
$colorBundle__darkCodeBackground: #333333;
$colorBundle__infoIconBackground: #252525;
$colorBundle__navigationBackground: #252525;
$colorBundle__navigationBackgroundHeaderHasBg: transparent;
$colorBundle__selectOptionActiveBackground: #AF001D;
$colorBundle__pageTitleBarBackground: #333333;
$colorBundle__inputBorder: #969696;
$colorBundle__inputSuccessBorder: #1CB373;
$colorBundle__inputWarningBorder: #F7A600;
$colorBundle__inputErrorBorder: #E31F2B;
$colorBundle__inputFocusBorder: #1E8CE3;
$colorBundle__choiceBorder: #969696;
$colorBundle__choiceActiveIndicator: #AF001D;
$colorBundle__primaryButton: #FFFFFF;
$colorBundle__primaryInvertedButton: #333333;
$colorBundle__secondaryButton: #333333;
$colorBundle__secondaryButtonBackground: rgba(238,238,238,0);
$colorBundle__secondaryInvertedButton: #F8F8F8;
$colorBundle__secondaryInvertedButtonBackground: transparent;
$colorBundle__postmanButton: #FFFFFF;
$colorBundle__postmanButtonBackground: #FF6C37;
$colorBundle__postmanButtonBorder: #FF6C37;
$colorBundle__methodGetBackground: #1E8CE3;
$colorBundle__methodPostBackground: #1CB373;
$colorBundle__methodDeleteBackground: #E31F2B;
$colorBundle__methodPutBackground: #F7A600;
$colorBundle__methodPatchBackground: #00CBDC;
$colorBundle__methodHeadBackground: #7E6FBE;
$colorBundle__methodOptionsBackground: #00296F;
$colorBundle__statusOkBackground: #1CB373;
$colorBundle__statusWarningBackground: #F7A600;
$colorBundle__statusErrorBackground: #E31F2B;
$colorBundle__messageSuccessBackground: #1CB373;
$colorBundle__messageWarningBackground: #F7A600;
$colorBundle__messageErrorBackground: #E31F2B;
$colorBundle__messageInfoBackground: #1E8CE3;
$colorBundle__headerOverlay: #000000;
$colorBundle__headerOverlayMobile: #000000;