@import 'colors.scss';

html, body {
  font-family: 'Helvetica', 'Segoe UI', sans-serif;
}

.status {
  text-align: center;
  padding: 10px 0;
  color: $colorBundle__lightText;
  background-color: $colorBundle__tagLabel;
}

h1 {
  text-align: center;
  margin: 40px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}